.renewal-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-subscription {
    width: 90%;
    max-width: 600px; /* Limit the width for better readability */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding around the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
    border-radius: 8px; /* Rounded corners */
    background-color: var(--white); /* Background color */
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
.addSubscription-modal{
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    height: auto;
    position: relative;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    outline: none;
    transition: all 1s;
}
.addSubscription-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns layout */
    gap: 20px; /* Space between grid items */
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="date"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--theme);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--theme);
}
