.due{
    color: red;
    text-align: center;
}
.subscription-card {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 2px  #81818180;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.subscription-logo-placeholder {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}

.subscription-icon {
    font-size: 24px;
    color: white;
}

.subscription-details {
    flex-grow: 1;
    cursor: pointer;
}

.subscription-cost {
    color: #666;
}

.subscription-actions {
    display: flex;
    align-items: center;
}

.toggle-arrow {
    font-size: 1.5rem;
    margin-left: 10px;
    cursor: pointer;
}

.delete-icon {
    font-size: 1.5rem;
    color: #ff6b6b;
    margin-right: 10px;
    cursor: pointer;
}

.delete-icon:hover {
    color: #ff4b4b;
}

/* Modal Styles */
.subscription-modal {
    position: relative;
    background: white;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    outline: none;
}

.subscription-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-modal-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.close-modal-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--theme);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal-button:hover {
    background-color: #1bb9bf;
}